@use 'colors';

@media (min-width: 767px) and (min-height: 1024px) {
	.popup {
		height: 57%;
	}
}

@media (min-width: 992px) {
	.nav {
		&__menu {
			&-title {
				font-size: 3.2em;
			}
		}

		&__button {
			&-add,
			&-deleteall {
				font-size: 1.8em;
			}
		}
	}

	.notecard {
		margin: 30px 20px;
		width: 350px;

		&__body {
			font-size: 1.5em;
		}

		&__header,
		&__icon {
			font-size: 1.6em;
		}
	}

	.popup {
		width: 55%;
		max-height: 620px;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: colors.$second-color;
			border-radius: 8px;
		}

		&__container {
			padding-right: 6px;
		}

		&__title {
			font-size: 2em;
		}

		&__label {
			font-size: 1.8em;
		}

		&__select,
		&__txtarea {
			font-size: 1.4em;
		}
	}

	.return__arrow {
		right: 3rem;
		bottom: 3rem;
		padding: 1.5em;
	}
}
