@media (min-width: 720px) {
	.nav {
		&__menu {
			&-title {
				font-size: 2.8em;
			}
		}

		&__button {
			&-add,
			&-deleteall {
				font-size: 1.6em;
			}
		}
	}

	.popup {
		width: 70%;

		&__title {
			font-size: 1.6em;
		}

		&__select,
		&__txtarea {
			font-size: 1.4em;
		}

		&__txtarea {
			min-height: 80px;
			margin-bottom: 2em;
		}

		label {
			font-size: 1.4em;
		}
	}

	.notecard {
		margin: 30px 20px;
		width: 300px;

		&__body {
			font-size: 1.3em;
		}

		&__header,
		&__icon {
			font-size: 1.4em;
		}
	}

	.return__arrow {
		right: 2rem;
		bottom: 2rem;
		padding: 1.2em;
	}
}