@media (min-width: 720px) {
	.nav {
		&__menu {
			&-title {
				font-size: 2.8em;
			}
		}

		&__button {
			&-add,
			&-deleteall {
				font-size: 1.6em;
			}
		}
	}

	.notecard {
		margin: 30px 20px;
		width: 300px;

		&__body {
			font-size: 1.3em;
		}

		&__header,
		&__icon {
			font-size: 1.4em;
		}
	}

	.popup {
		&__label {
			font-size: 1.6em;
		}

		&__select,
		&__txtarea {
			font-size: 1.3em;
		}
	}

	.return__arrow {
		right: 2rem;
		bottom: 2rem;
		padding: 1.2em;
	}
}

@media (min-height: 700px) {
	.popup {
		height: 77%;
		width: 80%;
	}
}