@media (max-width: 300px) {
	.popup {
		&__buttons {
			padding-bottom: 0;
		}

		&__button {
			&-save {
				margin-bottom: 1em;
			}
		}
	}
}

@media (min-width: 300px) {
	.popup {
		&__title {
			font-size: 1.8em;
		}

		&__label {
			font-size: 1.4em;
		}

		&__select,
		&__txtarea {
			font-size: 1.2;
		}

		&__button {
			&-save,
			&-close {
				margin: 1em;
			}
		}
	}
}

@media (max-width: 450px) {
	.notecard {
		width: 85%;
	}
}

@media (min-width: 451px) {
	.notecard {
		width: 55%;
	}

	.notfound {
		&__img {
			width: 80%;
		}
	}
}
