@use 'colors';
@use 'mixin';
@use 'animation';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: colors.$main-color;
	color: colors.$second-color;
}

.scroll-block {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.return__arrow {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	padding: 1em;
	background-color: colors.$second-color;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
}

.active-arrow {
	visibility: visible;
	opacity: 1;
	z-index: 11;
}

.nav {
	width: 100%;
	background-color: colors.$main-color;
	border-bottom: 1px solid colors.$border-color;

	&__wrapper {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100px;

		&-title {
			padding: 0.25em;
			font-size: 2.6em;
			font-weight: 300;
		}
	}

	&__buttons {
		padding: 0.5em;
		background: none;
	}

	&__button {
		&-add,
		&-deleteall {
			@include mixin.allBtns;
		}

		&-add:hover,
		&-deleteall:hover {
			@include mixin.btnHover;
		}

		&-add {
			margin-right: 1em;
		}
	}
}

.button-box {
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	bottom: 10px;
	z-index: 5;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 60px;
		width: 60px;
		color: colors.$second-color;
		background-color: colors.$special-color;
		font-size: 2.2em;
		text-align: center;
		text-decoration: none;
		border: none;
		transition: background-color 0.3s, color 0.3s;
		z-index: 10;

		&--one {
			margin-bottom: 5px;
			border-radius: 0 8px 0 0;
			pointer-events: none;
		}

		&--two {
			margin-bottom: 5px;
		}

		&--three {
			border-radius: 0 0 8px 0;
		}

		&:hover {
			color: colors.$special-color;
			background-color: colors.$second-color;
		}
	}
}

.note-area {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 2em;
}

.notecard {
	margin: 0 0 3em 0;
	width: 100%;
	height: 100%;
	background-color: yellow;
	border-radius: 8px;
	border: 1px solid colors.$border-color;
	animation: fade-in 0.3s 1;
	overflow: hidden;

	&__header,
	&__icon {
		font-size: 1.3em;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2em;
		background-color: rgba(0, 0, 0, 0.09);
	}

	&__icon {
		border: none;
		background: none;
		cursor: pointer;
	}

	&__body {
		padding: 0 1.5em 1.5em;
		height: 200px;
		max-height: 300px;
		font-size: 1.4em;
		overflow-y: auto;
		overflow-wrap: break-word;
		white-space: pre-line;
		@include mixin.customScroll;
	}
}

.popup-shadow {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 1000px;
	height: 90%;
	max-height: 570px;
	background-color: colors.$main-color;
	border-radius: 8px;
	box-shadow: 1px 1px 30px colors.$second-color;
	overflow-y: auto;
	z-index: 11;

	&__title {
		padding: 2em;
		text-transform: uppercase;
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
		padding: 1em;
		text-align: center;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__label {
		font-size: 1.2em;
	}

	&__select,
	&__txtarea {
		padding: 1em 2em;
		margin-top: 0.5em;
		width: 90%;
		max-height: 200px;
		background-color: white;
		font-family: 'Montserrat', sans-serif;
		box-shadow: 1px 1px 5px black;
		border: 1px solid transparent;
		border-radius: 8px;

		&:focus {
			box-shadow: 1px 1px 10px colors.$special-color;
			outline: none;
		}
	}

	&__select {
		margin-bottom: 2em;
		border-right: 20px solid transparent;
		cursor: pointer;
	}

	&__txtarea {
		height: 200px;
		min-height: 120px;
		max-height: 300px;
		margin-bottom: 3em;
		resize: vertical;
	}

	&__buttons {
		padding-bottom: 3em;
	}

	&__button {
		&-save,
		&-close {
			width: 125px;
			@include mixin.allBtns;
		}

		&-save:enabled:hover,
		&-close:hover {
			@include mixin.btnHover;
		}

		&-save:disabled {
			cursor: default;

			&:hover {
				background: none;
				color: none;
			}
		}
	}
}

.notfound {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1em;

	&__img {
		width: 90%;
	}

	&__credits {
		font-size: 0.8em;
	}

	&__btn {
		padding: 1em 4em;
		margin: 2em 1em;
		background-color: colors.$special-color;
		color: colors.$second-color;
		font-size: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 8px;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: colors.$second-color;
			color: colors.$main-color;
		}
	}
}
