@use 'colors';
@use 'mixin';
@use 'animation';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: colors.$main-color;
	color: colors.$second-color;
}

.scroll-block {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.return__arrow {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	padding: 1em;
	background-color: colors.$second-color;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
}

.active-arrow {
	visibility: visible;
	opacity: 1;
	z-index: 11;
}

.nav {
	width: 100%;
	background-color: colors.$main-color;
	border-bottom: 1px solid colors.$border-color;

	&__wrapper {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100px;

		&-title {
			padding: 0.25em;
			font-size: 2.6em;
			font-weight: 300;
		}
	}

	&__buttons {
		padding: 0.5em;
		background: none;
	}

	&__button {
		&-add,
		&-deleteall {
			@include mixin.allBtns;
		}

		&-add:hover,
		&-deleteall:hover {
			@include mixin.btnHover;
		}

		&-add {
			margin-right: 1em;
		}
	}
}

.note-area {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 2em;
}

.notecard {
	margin: 0 0 3em 0;
	width: 100%;
	height: 100%;
	background-color: yellow;
	border-radius: 8px;
	border: 1px solid colors.$border-color;
	animation: fade-in 0.3s 1;
	overflow: hidden;

	&__header,
	&__icon {
		font-size: 1.3em;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2em;
		background-color: rgba(0, 0, 0, 0.09);
	}

	&__icon {
		border: none;
		background: none;
		cursor: pointer;
	}

	&__body {
		padding: 0 1.5em 1.5em;
		height: 200px;
		max-height: 300px;
		font-size: 1.4em;
		overflow-y: scroll;
		overflow-wrap: break-word;
		white-space: pre-line;
		@include mixin.customScroll;
	}
}

.popup-shadow {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 4em 0;
	width: 90%;
	background-color: colors.$main-color;
	box-shadow: 0 0 10px black;
	border-radius: 8px;

	&__title {
		margin-bottom: 2em;
		text-transform: uppercase;
	}

	label {
		margin-bottom: 0.5em;
		font-size: 1.4em;
	}

	&__select,
	&__txtarea {
		padding: 1em 2em;
		width: 90%;
		max-height: 200px;
		font-family: 'Montserrat', sans-serif;
		box-shadow: 1px 1px 5px black;
		border: 1px solid transparent;
		border-radius: 8px;

		&:focus {
			box-shadow: 1px 1px 10px rgb(202, 144, 154);
			outline: none;
		}
	}

	&__select {
		margin-bottom: 2em;
		border-right: 20px solid transparent;
		cursor: pointer;
	}

	&__txtarea {
		max-width: 90%;
		margin-bottom: 4em;
		resize: vertical;
	}

	&__button {
		&-save,
		&-close {
			width: 125px;
			@include mixin.allBtns;
		}

		&-save:enabled:hover,
		&-close:hover {
			@include mixin.btnHover;
		}

		&-save:disabled {
			cursor: default;

			&:hover {
				background: none;
				color: none;
			}
		}
	}
}
